@import 'prefixMixies';

body {
	font-family: Arial;
	font-size: 100%;
	font-weight: normal;
}


$act: #4285f4;
$bk: #4285f4;
$in: #aaa;
$pd: 5px;
$pt: 20px;

.row, .be {
	// border: 1px solid red;
	padding: $pt 0;
	position: relative;
	&:nth-child(odd) {
		// background: #252525;
	}
	.highlight {
		background: $bk;
		height: 100%;
		width: 100%;
		z-index: -1;
		@include opacity(0);
		@include posa(0,n,n,0);
		@include transition(0.15s all ease);
		&.animate {
			@include opacity(10);			
		}
	}
	label {
		// border: 1px solid lime;
		color: $in;
		@include posa(($pt + 3px + $pd),n,n,10px);
		@include transition(0.5s all ease);
		&.animate {
			color: $act;
			font-size: 12px;
			left: 0;
			top: 0;
			@include transition(0.5s all ease);
		}
	}
	input {
		background: none;
		border: 0;
		border-bottom: 1px solid $in;
		padding: $pd;
		@include transition(0.5s all ease);
		&.animate {
			border-bottom-color: $act;
			outline: none;
			@include transition(0.5s all ease);
		}
	}
}

.btn {
	background: $bk;
	color: #fff;
	display: block;
	overflow: hidden;
	padding: 5px 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 100px;
	z-index: 1;
	@include transition(0.75s all ease);
	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		// @include animation(button linear 0.5s infinite);
	}
	&:hover {
		background: lighten(yellow,5%);
		color: #000;
		@include transition(0.5s all ease);
		&:before {
			@include animation(button linear 0.5s 1);
		}
	}
}

@include keyframe(button) {
	0% {
		left: 50%;
		top: 50%;
		@include opacity(0);
		@include circle(1px,lighten(yellow,5%));	
	}
	50% {
		@include opacity(10);	
	}
	100% {
		left: -100%;
		top: -150%;
		@include opacity(0);
		@include circle(400px,lighten(yellow,5%));
	}
}